* {
    margin: 0;
    padding: 0;
    background-color: rgb(163, 6, 253);
}

.container {
    margin: auto;
    /* background-color: bisque; */
    margin: 20%;
    box-sizing: border-box;
    border: 1px solid black;
    text-align: center;
    padding: 5px;
    background-color: rgb(185, 200, 204);
    text-decoration: none;

}

h3 {
    font-size: 30px;
    padding: 20px;
    background-color: rgb(185, 200, 204);
}

#jok {
    padding: 30px;
    background-color: rgb(185, 200, 204);
    font-size: 20px;
}

#jokbtn {
    padding: 5px 20px;
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(201, 173, 173);
}